{% extends "base.html" %}

{% block title %}Pair Banner{% endblock %}

{% block content %}
<h1>Pair Banner Probability Calculator</h1>
<form method="POST">
    <label for="num_rolls">Number of Rolls:</label>
    <input type="number" id="num_rolls" name="num_rolls" required>
    <br><br>

    <label for="pity">Initial Pity:</label>
    <input type="number" id="pity" name="pity" required>
    <br><br>

    <label for="is_guaranteed">Guaranteed:</label>
    <input type="checkbox" id="is_guaranteed" name="is_guaranteed">
    <br><br>

    <label for="summoning_pair">Выбиваю пару:</label>
    <input type="checkbox" id="summoning_pair" name="summoning_pair">
    <br><br>

    <button type="submit">Calculate Probability</button>
</form>

{% if result is not none %}
    <h2>Result:</h2>
    <p>The probability of success is: {{ result }}</p>
{% endif %}
{% endblock %}
